@import 'https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css';

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-weight: 900;
}

h3 {
  font-size: x-large;
  font-weight: 700;
}

body {
  margin: 0;
  font-family: pretendard;
  font-size: 1.125rem;
  line-height: 1.5625rem;
  color: #202020;
  background-color: #f0f0f0;
}

a {
  font-family: pretendard;
  font-size: 1.125rem;
  color: #fff;
  text-decoration: none;

  :hover {
    text-decoration: underline;
  }
}

.hi {
  padding: 0;
  margin-bottom: 0.1875rem;
  font-family: pretendard;
  font-size: 3.125rem;
}

.hi_d {
  margin-top: 3.125rem;
  margin-bottom: 0;
  font-weight: 300;
}

.lottie {
  display: block;
  width: 30%;
  aspect-ratio: 300/300;
  margin-inline: auto;
}

.container {
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.modal:target {
  display: flex;
}

.modal-content {
  position: relative;
  width: 80%;
  height: 80%;
  padding: 1rem;
  text-align: center;
}

.modal-content img {
  max-width: 100%;
  height: auto;
  border-radius: 0.625rem;
  transition: none;
}

.close {
  position: absolute;
  top: 0.3125rem;
  right: 0.3125rem;
  padding: 0.625rem;
  font-size: 1.875rem;
  color: forestgreen;
  background-color: #99ce96;
}

.header {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  padding: 0;
  font-weight: 500;
}

.aboutme {
  padding: 1.25rem;
  padding-top: 3.125rem;
}

.fixed--sidebar {
  position: fixed;
  right: 0.9375rem;
  bottom: 0.9375rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  font-size: 1.25rem;
}

.btn {
  padding-block: 0.625rem;
  padding-inline: 0.9375rem;
  color: #fff;
  background-color: black;
  border-radius: 3.125rem;
}

.btn:hover {
  background-color: forestgreen;
  transition: 0.7s;
}

.navigation {
  padding: 10px 20px;
  color: #fff;
  background-color: rgb(32 32 32);
}

.fix_text {
  position: fixed;
  margin-top: 30px;
  margin-left: 1.25rem;
  font-size: 3.125rem;
  font-weight: 900;
  color: #202020;
}

.work_in {
  margin-bottom: 0.625rem;
  font-size: 1.875rem;
  font-weight: 600;
}

.work {
  display: flex;
  flex-direction: column;
  padding: 1.25rem;
  padding-bottom: 0;
  border-top: forestgreen solid 0.1875rem;
}

.aboutme h1,
.work h2 {
  margin-bottom: 10px;
}

.click {
  margin: 0;
  font-size: 0.9375rem;
  font-weight: 300;
}

.poster {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.875rem;
  overflow: hidden;
}

.cal1 {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.cal2 {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.leaflet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1.875rem;
  overflow: hidden;
  object-fit: cover;
}

.book {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1.875rem;
  overflow: hidden;
  object-fit: cover;
}

.etc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.gra {
  width: 100%;
  background-image: linear-gradient(180deg, #72ff8e, #f0f0f0);
}

img {
  align-items: center;
  width: 50%;
  height: 50%;
  object-fit: cover;
  transition: all 0.2s linear;
}

img:hover {
  transform: scale(1.1);
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

video {
  width: 70%;
  height: 70%;
  margin-bottom: 1.875rem;
  object-fit: cover;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: forestgreen solid 0.1875rem;
}

.footer {
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 0;
  text-align: center;
  background-image: linear-gradient(0deg, #72ff8e, #f0f0f0);
}

.touch_thx {
  margin-top: 6.25rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.touch_tit {
  font-size: 1.5625rem;
}

.touch_inner {
  margin-top: 0.3125rem;
  margin-bottom: 6.25rem;
  font-size: 1.25rem;
}
